body {
  padding: 50px;
  font: 12px "Courier";
  background-image: url("/images/wallpaper.jpg");
  background-repeat: no-repeat;
  background-position: center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #c8e6ed;
}
a {
  color: #00b7ff;
}
