
background-size()
    -webkit-background-size: arguments
    -moz-background-size: arguments
    -o-background-size: arguments
    background-size: arguments

body
  padding: 50px
  font: 12px "Courier"
  background-image: url(/images/wallpaper.jpg)
  background-repeat: no-repeat
  background-position: center center fixed
  background-size: cover
  color: #C8E6ED
a
  color: #00B7FF
